/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.main-visual {
  
  &__bg-img{
    top:-50%;
    right: 0;
    & > img{
      width: 130%;
      height: auto;
    }
  }
}