/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: $gloabaltxt;
}

// アンカー
a {
  font-weight: bold;

  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.7;
}

p {
  font-weight: bold;
  line-height: 1.7;
}

// 画面幅設定
.contet-width {
  width: 90%;
  max-width: $contentMaxWidth;
  margin: 0 auto;
}

// メインタイトル
.main-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

// サブタイトル
.sub-title {
  font-weight: 600;
  font-weight: bold;
  color: $sub-title-color;
}

// ヘッダー
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $White;
  box-shadow: 0 3px 6px $box-shadow;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $navHeight;

    @extend .contet-width;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    // flex-basis: 33%;
  }

  &__title {
    font-size: 24px;
    color: $gloabaltxt;
  }
  &__logo {
    width: 47px;
    height: 47px;
    margin-right: 16px;
  }
}

// ヘッダーナビ
.global-nav {
  display: none;
  &__inner {
    display: flex;
  }
  &__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &__list-item {
    margin-right: 46px;
  }
  &__link {
    transition: color 0.5s;
    color: $header-link;
    &:hover {
      color: $gloabaltxt;
    }
  }
}

// スマホナビ
.sp-nav {
  display: none;
  &__list {
    width: 100%;
  }
  &__list-item {
    padding: 1rem 0;
    // margin: 1rem 0;
    border-bottom: 1px solid $border;
    text-align: center;
  }
  &__link {
    font-size: 20px;
    transition: color 0.5s;
    color: $header-link;
    display: block;
    &:hover {
      color: $gloabaltxt;
    }
  }
}

// ハンバーガーメニュー
.humberger-menu {
  position: relative;
  display: flex;
  align-items: center;
  &__btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    background-color: transparent;
    & > span {
      display: block;
      width: 30px;
      height: 3px;
      margin-bottom: 6px;
      transition: background-color 0.5s, transform 0.7s;
      background-color: $header-link;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover {
      & > span {
        background-color: $gloabaltxt;
      }
    }
  }
}

// メイン
main {
  padding-top: $navHeight;
}

// メインビジュアル
.main-visual {
  background:transparent url(../../images/circle.png);
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: cover;
  padding: 130px 0 113px 0;
  position: relative;
  overflow: hidden;

  &__bg-img{
    display: none;
    position: absolute;
    z-index: -10;
    & > img{
      width: 100%;
      height: auto;
    }
  }
  
  &__inner {
    @extend .contet-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__description{
    margin-bottom: 38px;
  }
  .description {
    flex-basis: 47%;
    &__title {
      line-height: 1.7;
    }
    &__txt {
      margin-bottom: 38px;
    }
  }
  &__img {
    flex-basis: 47%;
    & > img {
      width: 100%;
      height: auto;
    }
  }
}

// 特徴
.feature {
  &__inner {
    @extend .contet-width;
    padding-top: 16px;
    padding-bottom: 157px;
  }
  &__title {
    margin-bottom: 67px;
    text-align: center;
  }

  &__list-item {
    margin-bottom: 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }

    &__img {
      margin-bottom: 28px;
      flex-basis: 47%;
      & > img {
        width: 100%;
        height: auto;
      }
    }
    &__title {
      font-size: 25px;
      margin-bottom: 54px;
      text-align: center;
    }

    &__description {
      flex-basis: 40%;
      &--large {
        font-size: 24px;
        margin-bottom: 54px;
        line-height: 48px;
      }
      &--small {
        line-height: 26px;
      }
    }
  }
}

// 価格
.price {
  background-color: $bgcolor;
  &__inner {
    padding-top: 64px;
    padding-bottom: 71px;
  }
  &__title {
    margin-bottom: 73px;
    text-align: center;
  }
  &__table {
    background-color: $White;
    box-shadow: 0 3px 6px $box-shadow;
    margin-bottom: 41px;

    @extend .contet-width;
    &__inner {
      width: 100%;
    }
    &__row {
      &:last-child {
        &__text {
          border-bottom-width: 0;
        }
      }
    }
    &__header,
    &__text {
      font-weight: bold;
      display: block;
      padding: 40px 0;
      text-align: center;

      border-bottom: 1px solid $border;
    }

    &__text {
      padding: 20px 0;
    }
  }
  &__description {
    text-align: center;
  }
}

// 質問
.faq {
  &__inner {
    @extend .contet-width;
    padding-top: 64px;
    padding-bottom: 86px;
  }
  &__title {
    text-align: center;
    margin-bottom: 35px;
  }
  .accordion-wrapper {
    border: 1px solid #e5e5e5;
  }
  .accordion {
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: none;
    }
    &__btn {
      padding: 22px;
      cursor: pointer;
      text-align: center;
      background-color: $White;
    }
    &__text {
      padding: 22px 20px;
      background-color: #f2f2f2;
    }
  }
}

// ブログ
.blog {
  background-color: $bgcolor;
  &__inner {
    padding-top: 64px;
    padding-bottom: 91px;
    width: 90%;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    margin-bottom: 57px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: $White;
    box-shadow: 0 3px 6px $box-shadow;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
    &__img {
      width: 100%;
      height: auto;
    }
    &__body {
      flex: 1 1 auto;
      padding: 30px 20px 34px 20px;
    }
    &__title {
      font-size: 16px;
    }
    &__date {
      font-weight: bold;
      padding: 0 20px 20px 20px;
      text-align: right;
    }
  }
}

// 制作実績
.works {
  &__inner {
    width: 90%;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 90px;
  }
  &__title {
    text-align: center;
    margin-bottom: 71px;
  }
  &__cards {
    display: flex;
  }
  &__card {
    width: 100%;

    border: 1px solid #ddd;
    border-radius: 8px;
    &__body {
      padding: 30px 20px 34px 20px;
    }
    &__title {
      margin-bottom: 34px;
    }
    &__img {
      width: 100%;
      height: auto;
    }
    &__text {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

// お問い合わせ
.contact {
  background: linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
  &__inner {
    padding: 70px 0;
    @extend .contet-width;
  }
  &__title {
    color: $White;
    text-align: center;
    margin-bottom: 44px;
    & > span {
      color: $White;
    }
  }
  &__description {
    font-weight: bold;
    text-align: center;
    color: $White;
    margin-bottom: 44px;
  }

  .form-wrapper {
    background-color: $White;
    &__inner {
      padding: 30px 63px;
    }
  }

  // 必須マーク
  .form-required {
    display: inline-block;
    font-size: 14px;
    background-color: #0c449b;
    color: $White;
    border-radius: 10px;
    padding: 5px 16px;
  }

  .form {
    margin-bottom: 25px;
    &__title {
      margin-bottom: 36px;
    }
    &__label {
      font-weight: bold;
      margin-right: 23px;
    }
    &__input {
      width: 100%;
      min-height: 25px;
      max-width: 500px;
    }
    &__textarea {
      width: 100%;
      min-height: 180px;
    }
    &__input,
    &__textarea {
      font-size: 16px;
      background-color: $inputbgcolor;
      display: block;
      border: none;
      border-radius: 3px;
      padding: 0.375rem 0.75rem;
      &:focus {
        outline: none;
      }
    }
  }
  .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;

    &__check-box {
      cursor: pointer;
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      margin-right: 10px;
    }
    &__label {
      cursor: pointer;
      font-weight: bold;
    }
  }
  .form-submit-btn {
    text-align: center;
    &__btn {
      border: none;
      cursor: pointer;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .end-message,
  .false-message {
    display: none;
    text-align: center;
  }
}

// フッター
.footer {
  &__inner {
    text-align: center;
    @extend .contet-width;
    padding: 50px 0;
  }
  &__title {
    & > a {
      font-size: 24px;
      color: $gloabaltxt;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.7;
      }
    }
    margin-bottom: 30px;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__li {
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__link {
    color: $gloabaltxt;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
  .copy-right {
    font-size: 14px;
  }
}
