$White: white;
$Black: black;
$gloabaltxt: #333333;
$contentMaxWidth: 1022px;
$navHeight: 94px;
$main-title: 32px;
$sub-title-color:#3ba6c9;
$header-link:rgba(0,0,0,.55);
$bgcolor:#EEFBFB;
$box-shadow:#00000029;
$border:#E5E5E5;
$inputbgcolor: #EEFBFB;
